h1 {
	text-decoration: underline;
}

body {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/131/869/302/pastel-blue-blur-gradation-wallpaper-thumb.jpg);
    background-attachment: fixed;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: 120%;
	    	}

.erm {
	width: 150px;
	height: 50px;
}



.bg-dark {
    float: right;
}

hr {
	height: 3px;
	opacity: 100%;
}